@{
  ViewData["Title"] = "Home Page";
}

@using DataForSeo.SERPRegular.ViewModels;

@model SERPRegularViewModel

<div class="text-center">

  <h1 class="display-4">Seo Data</h1>

  <form id="serpSearchRank" method="post" action="Search">
    <div class="form-group">
      <label for="searchEngine">Choose Search Engine</label>
      <select id="selectSearchEngine" class="form-control required"
              name="SearchEngine">
        <option selected disabled value="default"></option>
        @foreach (var item in Model.SearchEngines)
        {
          <option value="@item">@item</option>
        }
      </select>
      @*<div class="invalid-feedback">
        Please select search engine.
      </div>*@
    </div>

    <div class="form-group">
      <label for="selectLocation">Choose Location</label>
      <select id="selectLocation" class="form-control required"
              name="Location">
        <option selected disabled value="default"></option>
        @foreach (var item in Model.Locations)
        {
          <option value="@item.location_code">@item.location_name</option>
        }
      </select>
      @*<div class="invalid-feedback">
        Please select location.
      </div>*@
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Website</label>
      <input type="text" class="form-control required" id="website"
             aria-describedby="website name" placeholder="Enter a website name"
             name="Website">
      @*<div class="invalid-feedback">
        Please input website.
      </div>*@
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Keywords</label>
      <textarea class="form-control required" id="exampleFormControlTextarea1" rows="5"
                name="Keyword"></textarea>
      @*<div class="invalid-feedback">
        Please input key words.
      </div>*@
    </div>

    <button type="submit" id="searchRank" class="btn btn-primary">Search</button>
  </form>

  <h1 class="display-4">Search Result</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Website</th>
        <th scope="col">Search Engine</th>
        <th scope="col">Keyword</th>
        <th scope="col">Rank group</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var regular in Model.SERPRegulars)
      {
        <tr>
          <td scope="row">@regular.Website</td>
          <td>@regular.SearchEngine</td>
          <th>@regular.Keyword</th>
          <td>@regular.Rank_group</td>
        </tr>
      }
    </tbody>
  </table>
</div>
